# Sample .env file for this bot
#
# Create a chatto bot with the right permissions, then add the API key
BOT_API_KEY=<your api key>
# Also find the room key for the target room and put it here.
BOT_ROOM_ID=<target room key>
# The RSS feed has a source URL, put it here
BOT_RSS_SOURCE=<url of an RSS feed>
